@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--very-dark-blue);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
}

h2 {
  color: var(--white)
}

.ranking-container {
  padding: 1.25rem;
  background-color: var(--dark-blue);
}