
.ranking-container {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  padding: 2.25rem;
  background-color: var(--dark-blue);
  max-width: 30%;
  border-radius: 1rem;
}

.light-gray-text {
  color: var(--light-grey);
}

.white-text {
  color: var(--white);
}

.rating-button {
  background-color: hsl(212, 14%, 26%);
}

.rating-button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.selected {
  background-color: var(--orange) !important;
}

.submit {
  background-color: var(--orange);
}

.submit:hover {
  background-color: var(--white);
}

.text-orange {
  color: var(--orange);
}
